<body id="homebod">
	<div id="navbar">
	<ul>
		<li><a href="#sec1" class="nbfixed">HOME</a></li>&nbsp; &nbsp;
		<li><a href="#sec7" class="nbfixed">ABOUT</a></li>&nbsp; &nbsp;
		<li><a href="#sec9" class="nbfixed">CONTACT</a></li>&nbsp; &nbsp;
		<li><a href="#sec3" class="nbfixed">SIGN UP</a></li>&nbsp; &nbsp;
		<li><a href="#sec5" class="nbfixed">SIGN IN</a></li>
	</ul>	
	</div>

	<section id="sec0">
		<h2 class="fnhome"><%= flash[:notice] if flash[:notice] %></h2>
	</section>

	<section id="sec1">
		<img src="/assets/a-frame.png" class="a-frame" height="400">
		<h1><p class="para1">KEEPS THE PEOPLE IN THE LOOP!</p></h1>
	</section>

	<section id="sec2">		
	</section>


	<section id="sec3">
		<div id="signupform">
			<h2>Sign Up For Aframe!</h2>	
		  <%= form_for @user do |f| %>
		  <h1><%= f.text_field :coname, :placeholder => "Business Name" %><br>
		  <%= f.text_field :ownername, :placeholder => "Your Full Name" %><br>
		  <%= f.text_field :address, :placeholder => "Business Address" %><br>
		  <%= f.text_field :city, :placeholder => "City" %><br>
		  <%= f.text_field :state, :placeholder => "State" %><br>
		  <%= f.text_field :zip, :placeholder => "Zip Code" %><br>
		  <%= f.password_field :password, :placeholder => "Password" %>
		  <br>
		  <%= f.submit 'Sign Up'%></h1>
		  <% end %>
		</div>
	</section>

	<section id="sec4">		
	</section>

	<section id="sec5">
		<div id="signinform">
			<h3>Please Sign In</h3>
			<img src="/assets/chopstick.png" width="600" class="chop1">
			<%= form_tag login_path do %>
				<%= label_tag :"Your Full Name" %>
				<%= text_field_tag :ownername %><br>
			<img src="/assets/chopstick2.png" width="600" class="chop2"><br>	
				<%= label_tag :password %>
				<%= password_field_tag :password %><br>
			<img src="/assets/chopstick.png" width="600" class="chop1"><br>
				<%= submit_tag "Sign In" %>
			<% end %>
		</div>
	</section>

	<section id="sec6">	
	</section>

	<section id="sec7">	
		<h2 class="abouthead"><u>AFrame</u></h2>
		<p class="para2">This application is a way for a bar/restaurant to send the daily specials to regular customers. Almost every menu online only displays the items that are always on the menu. It's even rare that a bar/restaurant would update that static menu as well. So, how does a place inform the daily specials to it's customers? Well, they use AFrame!<br><br>When a chef or bartender creates their daily specials, they can use this app to send a mms text message out to thier regular customer base. I feel that "regulars" would love to be a part of thier favorite place's database.<br></p>
	</section>
	
	<section id="sec8">
	</section>

	<section id="sec9">
	</section>

</body>