<body id="profilebod">
<div id="uppernav">
<h1>Welcome, <%= @user.ownername %>!</h1>
</div>

<h2><%= flash[:notice] if flash[:notice] %></h2>
<div id="textform">
	<%= form_tag '/new', method: "post" do %>
	  <%= text_area_tag :message, '', class: "form-control", placeholder: "Enter Your Daily Specials" %><br>
	  <button type="submit" class="btn-text">SEND THE WORD!</button>
	<% end %>
</div>
<div id="lowernav">
<%= render 'layouts/usernav' %>
</div>
</body>
